<div *ngIf="error">
  {{error}}
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="recaptchaForm">
  <ngx-recaptcha2 #captchaElem (expire)="handleExpire()"
                  (load)="handleLoad()"
                  (reset)="handleReset()"
                  (success)="handleSuccess($event)"
                  [hl]="'fr'"
                  [siteKey]="recaptchaKey"
                  [useGlobalDomain]="false"
                  formControlName="recaptcha">
  </ngx-recaptcha2>
  <span *ngIf="isControlHasError('recaptcha','required')" style="color: red">
          <small><strong>You have to check recaptcha</strong></small>
  </span>
  <br>
  <button>Verify recaptcha</button>
</form>
